<div class="container mt-4">
  <h2 class="text-center">Reporte de Categorías</h2>

  <!-- Selector de fechas -->
  <div class="row mb-3">
    <div class="col-md-4 offset-md-4 text-center">
      <label for="startDate" class="form-label">Fecha de Inicio:</label>
      <input
        type="date"
        id="startDate"
        class="form-control"
        (change)="onDateChange()"
      />
    </div>
    <div class="col-md-4 text-center">
      <label for="endDate" class="form-label">Fecha de Fin:</label>
      <input
        type="date"
        id="endDate"
        class="form-control"
        (change)="onDateChange()"
      />
    </div>
  </div>

  <!-- Gráfico de categorías -->
  <div class="row mt-4">
    <div class="col-md-12">
      <canvas id="categoryChart"></canvas>
    </div>
  </div>
</div>
