<div class="container mt-4">
  <!-- Mensaje de advertencia onTop si no hay ventas en el rango de fechas -->
  <div
    *ngIf="mensajeError"
    class="alert alert-danger alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x w-30 mt-3"
    role="alert"
    style="z-index: 1060"
  >
    {{ mensajeError }}
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="mensajeError = null"
    ></button>
  </div>
  <h2 class="text-center">Reporte de Categorías</h2>
  <form [formGroup]="dateForm" class="row row-cols-sm-auto pt-4">
    <div class="col-lg-6">
      <label for="datepicker" class="form-label">Fecha de inicio</label>
      <div class="dp-hidden position-absolute">
        <div class="input-group">
          <input
            name="datepicker"
            class="form-control"
            ngbDatepicker
            #datepicker="ngbDatepicker"
            [autoClose]="'outside'"
            (dateSelect)="onDateSelection($event, datepicker)"
            [displayMonths]="2"
            [dayTemplate]="t"
            [markDisabled]="isDisabled"
            outsideDays="hidden"
            [startDate]="fromDate!"
            tabindex="-1"
          />
          <ng-template #t let-date let-focused="focused">
            <span
              class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null"
            >
              {{ date.day }}
            </span>
          </ng-template>
        </div>
      </div>

      <div class="input-group">
        <input
          #dpFromDate
          class="form-control"
          placeholder="dd-mm-yyyy"
          name="dpFromDate"
          [value]="formatter.format(fromDate)"
          (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
        />
        <button
          class="btn btn-outline-secondary bi bi-calendar3"
          (click)="datepicker.toggle()"
          type="button"
        ></button>
      </div>
    </div>
    <div class="col-lg-6">
      <label for="datepicker" class="form-label">Fecha de Fin </label>
      <div class="input-group">
        <input
          #dpToDate
          class="form-control"
          placeholder="dd-mm-yyyy"
          name="dpToDate"
          [value]="formatter.format(toDate)"
          (input)="toDate = validateInput(toDate, dpToDate.value)"
        />
        <button
          class="btn btn-outline-secondary bi bi-calendar3"
          (click)="datepicker.toggle()"
          type="button"
        ></button>
      </div>
    </div>
  </form>
  <div *ngIf="loading$ | async" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <table
    *ngIf="!(loading$ | async) && categoriasVendidas.length > 0"
    class="table table-striped mt-4"
  >
    <thead>
      <tr>
        <th>Nombre Categoría</th>
        <th>Cantidad Total Vendida</th>
        <th>Total Vendido</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categoriasVendidas">
        <td>{{ categoria.nombreCategoria }}</td>
        <td>{{ this.formatCurrency(categoria.cantidadTotalVendida) }}</td>
        <td>{{ this.formatCurrency(categoria.totalVendido) }}</td>
      </tr>
    </tbody>
  </table>
  <div
    class="d-flex justify-content-center py-4"
    [hidden]="(loading$ | async) || categoriasVendidas.length === 0"
  >
    <div style="width: 60%">
      <canvas #barChart></canvas>
    </div>
  </div>
</div>
