/* Fondo general */
.container-fluid {
  background-color: #f4f6f9;
  min-height: 100vh;
}

/* Barra superior */
.bg-primary {
  background-color: #007bff !important;
  color: white;
}

.bi {
  font-size: 24px;
}

.fs-4 {
  font-size: 1.5rem;
}

/* Filtros */
.container {
  margin-top: 30px;
  margin-bottom: 50px;
}

/* Gráfico */
/* Ajustar el tamaño del gráfico */
#paymentMethodChart {
  max-width: 100%;
  height: 300px;
  margin-top: 30px;
}

/* Tabla de detalles */
.table {
  margin-top: 30px;
  font-size: 0.9rem;
}

thead th {
  font-weight: bold;
}

tbody td {
  padding: 10px;
}

/* Botones */
.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-outline-secondary {
  border: 1px solid #d1d1d1;
}

.btn-outline-secondary:hover {
  background-color: #f8f9fa;
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

