<div class="container-fluid d-flex justify-content-center pt-5 vh-100 bg-light">
  <!-- Formulario de agregar producto -->
  <div class="container mt-5" style="max-width: 900px">
    <div class="card shadow-sm p-4">
      <h3 class="mb-3 text-primary fw-bold text-center">
        Añadir Nuevo Producto
      </h3>
      <p class="text-muted text-center">
        *Todos los campos son obligatorios, excepto los mencionados como
        (opcional).
      </p>

      <form
        [formGroup]="productoForm"
        (ngSubmit)="onSubmit()"
        enctype="multipart/form-data"
      >
        <!-- Indicador de carga -->
        <div *ngIf="loading$ | async" class="text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

        <!-- Fila para nombre y código de barra -->
        <div class="row mb-3" *ngIf="!(loading$ | async)">
          <div class="col-md-6">
            <label for="nombre" class="form-label fw-bold text-dark"
              >Nombre</label
            >
            <input
              type="text"
              id="nombre"
              formControlName="nombre"
              class="form-control"
              placeholder="Ingresa el nombre del producto"
              required
              [ngClass]="{
                'is-invalid':
                  productoForm.get('nombre')?.invalid &&
                  productoForm.get('nombre')?.touched
              }"
            />
            <div
              *ngIf="
                productoForm.get('nombre')?.invalid &&
                productoForm.get('nombre')?.touched
              "
              class="invalid-feedback"
            >
              <span *ngIf="productoForm.get('nombre')?.errors?.['required']">
                El nombre del producto es obligatorio.
              </span>
              <span
                *ngIf="productoForm.get('nombre')?.errors?.['nombreExists']"
              >
                El nombre del producto ya existe.
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <label for="codigoBarras" class="form-label fw-bold text-dark"
              >Código de barra</label
            >
            <input
              type="text"
              id="codigoBarras"
              formControlName="codigoBarras"
              class="form-control"
              placeholder="Ingresa el código de barra"
              required
              [ngClass]="{
                'is-invalid':
                  productoForm.get('codigoBarras')?.invalid &&
                  productoForm.get('codigoBarras')?.touched
              }"
            />
            <div
              *ngIf="
                productoForm.get('codigoBarras')?.invalid &&
                productoForm.get('codigoBarras')?.touched
              "
              class="invalid-feedback"
            >
              <span
                *ngIf="productoForm.get('codigoBarras')?.errors?.['required']"
              >
                El código de barras es obligatorio.
              </span>
              <span
                *ngIf="productoForm.get('codigoBarras')?.errors?.['codigoBarrasExists']"
              >
                El código de barras ya existe.
              </span>
            </div>
          </div>
        </div>

        <!-- Fila para categorías y cantidad -->
        <div class="row mb-3" *ngIf="!(loading$ | async)">
          <div class="col-md-6">
            <label for="categoriaId" class="form-label fw-bold text-dark"
              >Categorías</label
            >
            <select
              id="categoriaId"
              formControlName="categoriaId"
              class="form-select"
              required
              [ngClass]="{
                'is-invalid':
                  productoForm.get('categoriaId')?.invalid &&
                  productoForm.get('categoriaId')?.touched
              }"
            >
              <option value="0">- Selecciona una categoría -</option>
              <option
                *ngFor="let categoria of categorias$ | async"
                [value]="categoria.id"
              >
                {{ categoria.nombre }}
              </option>
            </select>
            <div
              *ngIf="
                productoForm.get('categoriaId')?.invalid &&
                productoForm.get('categoriaId')?.touched
              "
              class="invalid-feedback"
            >
              La categoría es obligatoria.
            </div>
          </div>
          <div class="col-md-6">
            <label for="cantidad" class="form-label fw-bold text-dark"
              >Cantidad</label
            >
            <input
              type="number"
              id="cantidad"
              formControlName="cantidad"
              class="form-control"
              placeholder="Ingresa la cantidad"
              required
              [ngClass]="{
                'is-invalid':
                  productoForm.get('cantidad')?.invalid &&
                  productoForm.get('cantidad')?.touched
              }"
            />
            <div
              *ngIf="
                productoForm.get('cantidad')?.invalid &&
                productoForm.get('cantidad')?.touched
              "
              class="invalid-feedback"
            >
              <span *ngIf="productoForm.get('cantidad')?.errors?.['required']"
                >La cantidad es obligatoria.</span
              >
              <span *ngIf="productoForm.get('cantidad')?.errors?.['min']"
                >Debe ser al menos 1.</span
              >
              <span *ngIf="productoForm.get('cantidad')?.errors?.['max']"
                >No debe exceder 1000.</span
              >
            </div>
          </div>
        </div>

        <!-- Fila para precio costo y precio venta -->
        <div class="row mb-3" *ngIf="!(loading$ | async)">
          <div class="col-md-6">
            <label for="precioCosto" class="form-label fw-bold text-dark"
              >Precio Costo</label
            >
            <input
              type="text"
              id="precioCosto"
              formControlName="precioCosto"
              class="form-control"
              placeholder="Ingresa el precio costo"
              required
              [value]="
                formatCurrency(productoForm.get('precioCosto')?.value ?? null)
              "
              (ngModelChange)="
                onMontoChange(
                  'precioCosto',
                  productoForm.get('precioCosto')?.value
                )
              "
              (input)="onMontoInput($event, 'precioCosto')"
              [ngClass]="{
                'is-invalid':
                  productoForm.get('precioCosto')?.invalid &&
                  productoForm.get('precioCosto')?.touched
              }"
            />
            <div
              *ngIf="
                productoForm.get('precioCosto')?.invalid &&
                productoForm.get('precioCosto')?.touched
              "
              class="invalid-feedback"
            >
              <span
                *ngIf="productoForm.get('precioCosto')?.errors?.['required']"
                >El precio costo es obligatorio.</span
              >
              <span *ngIf="productoForm.get('precioCosto')?.errors?.['min']"
                >Debe ser mayor a 0.</span
              >
              <span *ngIf="productoForm.get('precioCosto')?.errors?.['max']"
                >No debe exceder 100.000.000.</span
              >
            </div>
          </div>
          <div class="col-md-6">
            <label for="precioVenta" class="form-label fw-bold text-dark"
              >Precio Venta</label
            >
            <input
              type="text"
              id="precioVenta"
              formControlName="precioVenta"
              class="form-control"
              placeholder="Ingresa el precio venta"
              required
              [value]="
                formatCurrency(productoForm.get('precioVenta')?.value ?? null)
              "
              (ngModelChange)="
                onMontoChange(
                  'precioVenta',
                  productoForm.get('precioVenta')?.value
                )
              "
              (input)="onMontoInput($event, 'precioVenta')"
              [ngClass]="{
                'is-invalid':
                  productoForm.get('precioVenta')?.invalid &&
                  productoForm.get('precioVenta')?.touched
              }"
            />
            <div
              *ngIf="
                productoForm.get('precioVenta')?.invalid &&
                productoForm.get('precioVenta')?.touched
              "
              class="invalid-feedback"
            >
              <span
                *ngIf="productoForm.get('precioVenta')?.errors?.['required']"
                >El precio venta es obligatorio.</span
              >
              <span *ngIf="productoForm.get('precioVenta')?.errors?.['min']"
                >Debe ser mayor a 0.</span
              >
              <span *ngIf="productoForm.get('precioVenta')?.errors?.['max']"
                >No debe exceder 100.000.000.</span
              >
            </div>
          </div>
        </div>

        <!-- Fila para imagen -->
        <div class="row mb-3" *ngIf="!(loading$ | async)">
          <div class="col-md-12">
            <label for="imagen" class="form-label fw-bold text-dark"
              >Imagen (opcional)</label
            >
            <input
              type="file"
              id="imagen"
              formControlName="imagen"
              class="form-control"
              accept="image/*"
            />
          </div>
        </div>

        <!-- Botón para guardar detalles -->
        <div class="d-grid" *ngIf="!(loading$ | async)">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="productoForm.invalid"
          >
            Guardar Producto
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
