/* General Layout */
.container {
  padding-top: 30px;
}

h2, h4 {
  font-size: 2rem;
  font-weight: 600;
  color: #2c3e50;
}

/* Date Picker */
input[type="date"] {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
}

/* Table Styling */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 1rem;
}

.table th, .table td {
  padding: 12px;
  text-align: center;
}

.table th {
  background-color: #007bff;
  color: white;
}

.table td {
  background-color: #f8f9fa;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table-striped tbody tr:nth-child(even) {
  background-color: #ffffff;
}


/* Additional Styles */
.form-label {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

/* Spinner */
.spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: .3rem;
}


.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

