<!-- Barra de navegación -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link text-decoration-none"
      [routerLink]="['/dashboard/reportesventa']"
      routerLinkActive="active"
    >
      Reporte Venta</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link active text-decoration-none"
      [routerLink]="['/dashboard/reportescategoria']"
      routerLinkActive="active"
      >Reporte Categorías</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link active text-decoration-none"
      [routerLink]="['/dashboard/reportesinvetario']"
      routerLinkActive="active"
      >Reporte Inventario</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link active text-decoration-none"
      [routerLink]="['/dashboard/reportesmetodopago']"
      routerLinkActive="active"
      >Reporte Metodo de pago</a
    >
  </li>
</ul>
