<div class="container mt-5">
  <div class="card">
    <div class="card-body row flex-column flex-md-row">
      <!-- Columna 1 -->
      <div
        class="col-md-6 d-flex align-items-center justify-content-center flex-column"
      >
        <div class="card-title">
          <h5 class="lead text-center">Farmacia Salvador</h5>
        </div>
        <div class="body">
          <div class="intro">
            <p class="fs-6">
              Somos una farmacia compuesta por profesionales con precios
              accesibles para todos los vecinos. Contamos con nuestra plataforma
              web y nuestra sede.
            </p>
          </div>
          <div class="ubicación">
            <p class="fs-6 d-none d-md-block">
              ¡Visítanos! Estamos aquí, para ti y nadie más.
            </p>
            <strong
              >Simón Bolívar 4109, 9291376 Maipú, Región Metropolitana</strong
            >
          </div>
          <div class="horario fs-6">
            <p>Horario de atención: <strong>10:00 AM - 20:30 PM</strong></p>
          </div>
        </div>
      </div>
      <!-- Columna 2 -->
      <div class="col-md-6 mt-3 mt-md-0">
        <div style="width: 100%">
          <iframe
            width="100%"
            height="600"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=Sim%C3%B3n%20Bol%C3%ADvar%204109,%209291376%20Maip%C3%BA,%20Regi%C3%B3n%20Metropolitana+(Farmacia%20Salvador)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
            ><a href="https://www.gps.ie/car-satnav-gps/">Car GPS</a></iframe
          >
        </div>
      </div>
    </div>
  </div>
</div>
