<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h3>Restablecer Contraseña</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <!-- Error Message -->
            <div
              *ngIf="errorMessage"
              class="alert alert-danger text-center"
              role="alert"
            >
              {{ errorMessage }}
            </div>

            <!-- Password Field -->
            <div class="form-group mb-3">
              <label for="password">Nueva Contraseña</label>
              <input
                type="password"
                id="password"
                class="form-control"
                placeholder="Ingresa tu nueva contraseña"
                formControlName="password"
                [class.is-invalid]="
                  resetPasswordForm.get('password')?.invalid &&
                  resetPasswordForm.get('password')?.touched
                "
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  resetPasswordForm.get('password')?.invalid &&
                  resetPasswordForm.get('password')?.touched
                "
              >
                La contraseña debe tener al menos 8 caracteres.
              </div>
            </div>

            <!-- Submit Button -->
            <button
              type="submit"
              class="btn btn-primary w-100"
              [disabled]="resetPasswordForm.invalid || loading"
            >
              {{ loading ? "Procesando..." : "Restablecer Contraseña" }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
