
.main-content {
  margin-left: 214px; /* Ajustar según el ancho del sidebar */
 
  transition: margin-left 0.3s ease;
}

/* Cuando el sidebar está colapsado */
.sidebar.collapsed + .main-content {
  margin-left: 80px; /* Ajustar según el ancho colapsado */
}

@media (max-width: 767px) {
  /* En pantallas pequeñas, el sidebar se comporta diferente */
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
  }
  .main-content {
    margin-left: 0;
  }
}