<div
  class="container-fluid vh-100 d-flex justify-content-center align-items-center"
>
  <div class="card shadow p-4" style="width: 450px">
    <!-- Logo o Imagen de cabecera -->
    <img
      src="assets/img/Registro.png"
      class="card-img-top mb-4 mx-auto d-block"
      alt="Logo de la Farmacia"
      style="width: 100px"
    />

    <!-- Título del formulario -->
    <h3 class="text-center mb-4">Registrar Nuevo Usuario</h3>

    <!-- Formulario de Registro -->
    <form (ngSubmit)="onSubmit()">
      <!-- Nombre completo -->
      <div class="mb-3">
        <label for="fullname" class="form-label">Nombre Completo</label>
        <input
          type="text"
          id="fullname"
          class="form-control"
          [(ngModel)]="fullname"
          name="fullname"
          required
          placeholder="Ingrese su nombre completo"
        />
      </div>

      <!-- Correo electrónico -->
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input
          type="email"
          id="email"
          class="form-control"
          [(ngModel)]="email"
          name="email"
          required
          placeholder="Ingrese su correo"
        />
      </div>
      <!-- Role -->
      <div class="mb-3">
        <label for="role" class="form-label">Rol</label>
        <input
          type="text"
          id="role"
          class="form-control"
          [(ngModel)]="role"
          name="role"
          required
          placeholder="Ingrese un rol"
        />
      </div>

      <!-- Contraseña -->
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          id="password"
          class="form-control"
          [(ngModel)]="password"
          name="password"
          required
          placeholder="Ingrese su contraseña"
        />
      </div>

      <!-- Botón de Registrar -->
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success">Registrar</button>
      </div>

      <!-- Enlace a la página de Login -->
      <div class="text-center mt-3">
        <a href="/login" class="text-decoration-none"
          >¿Ya tienes una cuenta? Inicia Sesión</a
        >
      </div>
    </form>
  </div>
</div>
