/* Contenedor principal */
.container {
  margin-top: 30px;
  margin-bottom: 50px;
}

/* Títulos */
h2, h4 {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 20px;
}

/* Estilos de la tabla */
table {
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

thead {
  background-color: #007bff;
  color: white;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Estilos de los campos de fecha */
.input-date {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

/* Estilo del gráfico */
#paymentMethodChart {
  max-width: 100%;
  height: 300px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  /* Hacer que los campos de fecha se ajusten en pantallas pequeñas */
  .col-md-4 {
    margin-bottom: 15px;
    width: 100%;
  }
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
