:host {
  display: block;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.card {
  width: 100%; /* Cambiado a 100% para que ocupe el ancho completo de la columna */
  height: auto; /* Cambiado a auto para que ajuste la altura según el contenido */
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura que los elementos dentro tengan espacio */
  display: flex;
  flex-wrap: wrap;
}

.card img {
  width: 100%; /* Cambiado a 100% para que la imagen ocupe todo el ancho de la tarjeta */
  height: auto; /* Mantiene la proporción de la imagen */
}

.card button {
  margin-top: 10px; /* Ajustado el margen para separación con el texto */
  background-color: blue; /* Puedes cambiar a una clase de Bootstrap si prefieres */
  color: white;
}

.card-body {
  flex-grow: 1; /* Permite que el cuerpo de la tarjeta ocupe el espacio disponible */
  display: flex;
  flex-direction: column; /* Asegura que el texto esté en columna */
  justify-content: center; /* Centra el contenido verticalmente */
}
.search-bar input{
  width: 500px;
}
.producto{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 990px){
  .container-fluid{
    margin-left: 0px;
  }
  .search.bar{
  width: 400px;}
}
@media (max-width: 768px){
  .search-bar input{
   width: 250px;
  }
  .card{
    width: 250px;
    display: flex;
    justify-content: center;
  }
  .container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100vw;
  }
}
