<div class="container-fluid">
  <h1>Bienvenido a SalvaPOS, Rodrigo</h1>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card">
        <h3>Paracetamol</h3>
        <p>Descripción del producto.</p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <h3>Tapsin</h3>
        <p>Descripción del producto.</p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <h3>Ibuprofeno</h3>
        <p>Descripción del producto.</p>
      </div>
    </div>
  </div>
</div>
