<nav class="sidebar" [class.collapsed]="!isNavbarOpen">
  <button
    class="navbar-toggler hamburger-btn"
    type="button"
    (click)="toggleNavbar()"
    aria-controls="sidebarCollapse"
    [attr.aria-expanded]="isNavbarOpen"
    aria-label="Toggle navigation"
  >
    <i class="fa-solid fa-bars text-light"></i>
  </button>

  <div
    id="sidebarCollapse"
    [ngClass]="{ show: isNavbarOpen }"
    class="collapse navbar-collapse"
  >
    <ul class="sidebar-options navbar-nav">
      <!-- Logo del sidebar -->
      <li class="nav-item side-bar-logo">
        <a [routerLink]="['home']" class="nav-link">
          <img
            src="assets/img/logo_salvapos.png"
            alt="Logo"
            class="sidebar-logo-img"
          />
        </a>
      </li>

      <!-- Enlaces del menú -->
      <li class="nav-item" *ngFor="let item of menuItems">
        <a class="nav-link" [routerLink]="[item.path]">{{ item.title }}</a>
      </li>
      <li class="nav-item" *ngIf="!userRole">
        <a class="nav-link" [routerLink]="['/dashboard/cart']">Cart</a>
      </li>
      <li class="nav-item" *ngIf="!userRole">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item" *ngIf="userRole === 'Administrador'">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li class="nav-item" *ngIf="userRole">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
