<nav class="sidebar" [class.collapsed]="!isNavbarOpen">
  <button
    class="navbar-toggler hamburger-btn"
    type="button"
    (click)="toggleNavbar()"
    aria-controls="sidebarCollapse"
    [attr.aria-expanded]="isNavbarOpen"
    aria-label="Toggle navigation"
  >
    <i class="fa-solid fa-bars"></i>
  </button>

  <div
    id="sidebarCollapse"
    [ngClass]="{ show: isNavbarOpen }"
    class="collapse navbar-collapse"
  >
    <ul class="sidebar-options navbar-nav">
      <!-- Logo del sidebar -->
      <li class="nav-item side-bar-logo">
        <a [routerLink]="['home']" class="nav-link">
          <img
            src="assets/img/logo_salvapos.png"
            alt="Logo"
            class="sidebar-logo-img"
          />
        </a>
      </li>

      <!-- Enlaces del menú -->
      <li class="nav-item" *ngFor="let item of menuItems">
        <a class="nav-link" [routerLink]="[item.path]">{{ item.title }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-nav">
  <nav class="navbar-nav">
    <div class="nav-options">
      <ul>
        <li class="nav-item">
          <a [routerLink] ="['home']" class="nav-link"> Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['inventario']" class="nav-link"> Inventario </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['reportes']" class="nav-link"> Reportes </a>
        </li>
        <li class="nav-item">
          <a [routerLink] ="['/login']" class="nav-link"> Login </a>
        </li>
        <li clas="nav-item">
          <a [routerLink]="['/register']" class="nav-link"> Registrarse</a>
        </li>
        <li clas="nav-item">
          <a [routerLink]="['logout']" class="nav-link"> Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
